{% extends 'logbook/base.html' %}
{% block content  %}
<!DOCTYPE html>
<html>
<head>
  <title> Insta Clone </title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      color: #333;
    }
    
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    
    h1 {
      color: #007bff;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1> About Insta-clone </h1>
    <p> Vel galisum necessitatibus eum quae blanditiis ut eaque numquam. Vel quia nulla ab nihil eligendi quo eveniet sequi est enim fugit ad odit rerum! </p>
    <p> Lorem ipsum dolor sit amet. Eum quia consequuntur eum earum omnis nam nesciunt beatae. Et dolores Quis sed accusantium repellat qui excepturi sunt. </p>
    <p> Lorem ipsum dolor sit amet. Sit beatae voluptas aut voluptas voluptates ut provident veniam ad sunt unde. Ut ipsam odio non nostrum eveniet est Quis cumque quo corporis galisum sit vitae quia. </p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToNQTanrfIJDXXCDEqLCo3jLWUSQjgq0wD8g&usqp=CAU" alt="Description of the image">
    
</div>
</body>
</html>
{% endblock %}